<div class="form-wrapper">

    <form method="POST" action="/statuses">
        <label for="st_name" class="card-text">Status Name:</label>
        <input type="text" id="st_name" class="form-control" name="st_name">
        <label for="st_icon" class="card-text">Status Icon/Emoji:</label>
        <input type="text" id="st_icon" class="form-control" name="st_icon">
        <label for="st_desc" class="card-text">Status Description:</label>
        <textarea id="st_desc" class="form-control" name="st_desc" rows="5" cols="50">
    </textarea>
        <input type="submit" value="ADD" class="btn btn-primary">

    </form>
</div>